.cityDescription {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 2vw;
  text-align: center;
}
.restaurants{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration-style: solid;
  font-size: 3vw;
  text-align: center;
}
.textSign {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1vw;
  text-decoration-style: solid;
  font-size: 2vw;
  text-align: center;

}
.signButton {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: .5em;
  border: 0;
  transition: all ease-in-out 0.4s;
  color: black;
  background-color: white;
  align-self: center;
}
